includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    excludePaths:
        analyseAndScan:
            - */*.blade.php
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Route::modelAuth\(\)#'
